/* Content is hidden till page loads */
.hidden_until_loaded,
.hidden_until_loaded body,
.hidden_until_loaded div {
  visibility: hidden !important;
}

/* Global Variables */
:root {
  /* Font-Family */
  --open-sans-normal: "Open Sans", Arial, Helvetica, sans-serif;
  --arial: "Arial", Helvetica, sans-serif;

  /* Color */
  --white: #ffffff;
  --grey-very-dark: #121212;
  --gray-medium-dark: #6E7780;
  --gray-light: #d5d5d5;
  --grey-very-light: #cdcccc;
  --chinese-silver: #cccccc;
  --bright-navy-blue: #2078C9;
  --fun-blue: #1E609D;
  --blue-st-patricks: #1f3f66;
  --tangaroa-blue: #122B42;
  --green-lime: #5bcd3e;
  --red: #ff0800;
  --cg-red: #dd3b38;
  --red-error: #FF4747;
  --lavender-blush: #fff4f4;
  --lavender-gray: #C2C8D0;
  --pantone: #d58a8a;
  --terra-cotta: #e06666;
}

body {
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: #ededed;
}

/* @media screen and (min-width: 426px) {
  .gradient1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      147.43deg, 
      #1F3F66 0%, 
      #173350 3.44%,
      #122B42 7.79%,
      #1F3F66 11.57%,
      #122B42 12.8%,
      #1C3B5F 18.65%, 
      #142E48 19.44%,
      #152F4A 63.16%,
      #1E3E64 78.14%,
      #142D46 80.12%,
      #1F3F66 83.25%,
      #122B42 92.77%,
      #1F3F66 93.85%,
      #1B395B 95.71%, 
      #122B42 100%
    );
    background-repeat: no-repeat;
  }

  .gradient2 {
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255,255,255,0) 35%, 
      rgba(255,255,255,0.84) 63%, 
      #FFFFFF 100%
    );
    background-repeat: no-repeat;
  }
} */

/* Modal Section */
/* #modal_loading_spinner {
  position: fixed;
  z-index: 90001;
  color: #0078d7;
  font-size: 15px;
  margin: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#modal_loading {
  display: none;
  position: fixed;
  z-index: 90000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
} */

/* body.loading {
  overflow: hidden;
}

body.loading #modal_loading {
  display: block;
} */

/* Element Styles */
.layout {
  margin: 0 auto;
  padding: 30px 0 0 0;
  border-style: none;
  border-width: 0px;
  width: 100%;
  height: auto;
  max-width: 650px;
  background: var(--white);
}

#header_wrapper {
   margin: 0 auto;
   width: 100%;
   height: 136px;
   max-width: 650px;
   background-color: #1F3F66;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header_logo {
   width: 100%;
   height: 80px;
   max-width: 220px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header_logo img {
   width: 100%;
   height: 24px;
}

.layout_wrapper {
  width: 300px;
  height: 475px;
  margin: 0 auto;
}

@media screen and (min-width: 478px) {
  .layout {
   /* position: relative;
   top: 50px; */
   padding: 40px 0 0 0;
   height: auto;
   box-shadow: 0 5px 10px 0 rgba(45,45,45,0.2);
  }
  .layout_wrapper {
    width: 100%;
    max-width: 530px;
    padding-top: 50px;
  }
}

.hidden_fields {
  float: none;
  clear: both;
}

#text1_wrapper {
  display: block;
  width: 100%;
  height: auto;
}

.text1 {
  padding: 0 1.875rem;
  color: var(--grey-very-dark);
  font-family: var(--arial);
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 32px;
  text-align: left;
}

#text2_wrapper {
  display: block;
  width: 100%;
  height: 20px;
  padding-top: 18px;
}

.text2 {
  padding: 0 1.875rem;
  color: var(--grey-very-dark);
  font-family: var(--arial);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
}

#text3_wrapper {
  display: block;
  width: 100%;
  height: 22px;
  margin-bottom: 6px;
}

.text3 {
  padding: 0 0.3rem;
  color: var(--grey-very-dark);
  font-family: var(--arial);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 23px;
  text-align: left;
}

.select-all-that-apply {
  color: #6E7780;
  font-family: var(--arial);
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 16px;
}
  
.form_wrapper {
  display: block;
  width: 100%;
  height: auto;
}

.fieldset {
  padding: 0;
  float: right;
  overflow: visible;
  width: 100%;
}

.form_spacing {
  padding-top: 24px;
}

.form_labels {
  font-family: var(--open-sans-normal);
  font-weight: 600;
  font-size: 12px;
  color: var(--grey-very-dark);
  position: relative;
  top: -62px;
  z-index: 1;
  left: 20px;
  background-color: var(--white);
  padding: 0 10px;
  visibility: hidden;
}

.label_span {
  color: var(--lavender-gray);
  font-weight: 100;
}

.visibility_show {
  visibility: visible;
}

.form_inputs {
  border: 1px solid #C2C8D0;
  border-radius: 10px;
  background-color: var(--white);
  font-family: var(--arial);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: var(--grey-very-dark);
  width: 100%;
  height: 55px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 29px;
  padding-right: 5px;
  margin-bottom: 2px;
}

/* box-sizing: border-box;
  height: 55px;
  width: 530px;
  border: 1px solid #C2C8D0;
  border-radius: 10px;
  background-color: #FFFFFF; */

::placeholder {
  opacity: .9;
  color: var(--gray-medium-dark);
}

:-ms-input-placeholder {
  color: var(--gray-medium-dark);
}

::-ms-input-placeholder {
  color: var(--gray-medium-dark);
}

.form_inputs_hover {
    border-color: var(--grey-light);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
}

/* Input Focus */
input {
  outline: none;
  border: none;
}

input:focus-visible {
  border: none;
  outline-color: var(--bright-navy-blue);
  outline-style: solid;
  outline-width: 1px;
}

.form_input_error:focus-visible {
  outline: 1px solid var(--red-error) !important;
}

input:focus + label {
  color: var(--fun-blue);
}

/* Errors */
.form_input_error {
  outline: 1px solid var(--red-error) !important;
  border: none !important;
  background: var(--white);
}

.form_label_error {
  color: var(--red-error) !important;
  font-size: 12px;
}

.form_inputs_help,
.form_inputs_error_text {
  text-align: left;
  color: var(--red-error);
  font-family: var(--open-sans-normal);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 2px;
  overflow: hidden;
  width: 100%;
}

.form_inputs_help {
  margin-top: -15px;
}

.form_inputs_error_text {
  margin-top: 2px;
}

/* Hide Error Messages */
.error {
  display: none;
}

/* Hide Elements */
.hide {
  display: none;
}

/* Checkboxes */
.checkbox_wrapper {
  padding-bottom: 30px
}

.flex {
  display: flex;
  align-items: center;
}

.checkbox_wrapper .flex {
  margin-bottom: 18px;
}

.label_block {
  padding-left: 5px;
  padding-right: 5px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border: 1px solid var(--chinese-silver);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.checkbox_label {
  width: 263px;
  font-family: var(--arial);
  color: var(--grey-very-dark);
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}

.textarea_wrapper {
  padding-left: 4px;
  padding-right: 4px;
}

textarea {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 16px;
  color: var(--green-lime);
  display: none;
} 

input[type="checkbox"]:hover {
  background-color: var(--white);
}

input[type="checkbox"]:checked {
  background-color: var(--white);
}

input[type="checkbox"]:checked:after {
  display: block;
}

.terms_and_conditions,
.privacy_policy,
.browse-more-news,
.update-your-preferences,
.email {
  font-family: var(--open-sans-norml);
  text-decoration: none;
  color: var(--bright-navy-blue);
}

.browse-more-news {
  line-height: 16px;
}


/* Sign Up - Button */
.submit_wrapper {
  display: block;
  width: 100%;
  height: 60px;
  z-index: 9000;
  padding-top: 11px;
}

.submit {
  font-family: var(--arial);
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: var(--white);
  border-style: none;
  border-width: 0px;
  border-radius: 10px;
  background: var(--blue-st-patricks);
  width: 100%;
  max-width: 280px;
  height: 100%;
  cursor: pointer;
}

.submit:hover {
  border-radius: 10px;
  background-color: var(--tangaroa-blue);
  box-shadow: 0 5px 10px 0 rgba(45,45,45,0.2);
}

.submit:active {
  border-radius: 10px;
  background-color: #1F3F66;
}

.submit:disabled {
  color: var(--white);
  box-shadow: none;
  opacity: 0.5;
}

/* Update Preferences */
.update_wrapper {
  padding-top: 30px;
}

/* Thank you for subscribing */
.thxtext1_wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

.update {
  color: var(--bright-navy-blue);
  font-family: var(--arial);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}

.thxtext1 {
  font-family: var(--open-sans-normal);
  font-weight: bold;
  color: var(--grey-very-dark);
  font-size: 20px;
  text-align: center;
}

.thxtext2 {
  font-family: var(--open-sans-normal);
  color: var(--grey-very-dark);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 12px;
  text-align: center;
  padding-top: 20px;
}


